/* PHASE 9: Forms */
.post-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid chartreuse;
  background-color: lightgrey;
}

.form-input {
  right: 50px;
  /* display: flex; */
  width: 70%;
  border: 1px solid goldenrod;
  padding: 20px;
}

